* {
    box-sizing: border-box;	
	background-color: grey;
	margin:0;
}

body {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	padding-top:1em;
	padding-bottom:1em;
	background-color: #edefda;	
	font-family:"Helvetica", Helvetica, sans-serif;
}

header {
	margin-left:auto;
	margin-right:auto;
	background-color: #edefda;
	width:800px;
	height:300px;
	background-image:url(images/header.png);
}

#photo {
	display:none;
}

main {
	display:none;
	margin-top:3em;
	margin-bottom:3em;
	width:800px;
	margin-left:3em;
	margin-right:3em;
	height:3250px;
	background-color: grey;
	background-image:url(images/main.png);
	

}

main h1 {
	display:none;
}


section {
	background-color:white;
	visibility:hidden;
}

section a {
	color:white;
	text-decoration:none;
	background-color:#333333;
}

section a:hover {
	color:#009966;
	background-color:#333333;
}

#email,#site,#ville {
	display:block;
	visibility:visible;
	background-color:#333333;	
	position:relative;
	top:8em;
	right:1em;
	width:17em;	
	color:white;
	font-size:18px;
	line-height:2.5em;
}




footer {	
	height:150px;
	margin-left:auto;
	margin-right:auto;
	background-color: #edefda;
	width:800px;
	background-image:url(images/footer.png);
}